<footer class="general container footer-none">
  <div class="general row">
    <div class="general colum">
      <h3><span class="general h3">Politicas y Condiciones</span></h3>
      <div class="general flex-star-1">
        <a
          th:href="@{/register/condiciones}"
          id=""
          target="_blank"
          rel="nofollow"
          >Condiciones</a
        >
        <a
          th:href="@{/register/politicas-datos}"
          id=""
          target="_blank"
          rel="nofollow"
          >Política de datos</a
        >

        <a
          th:href="@{/register/politicas-cookies}"
          id=""
          target="_blank"
          rel="nofollow"
          >Política de cookies</a
        >
      </div>
    </div>
    <div class="general colum">
      <h3><span class="general h3">Contacto</span></h3>

      <span>newsinstantly7@gmail.com</span>
    </div>
    <div class="general colum">
      <h3><span class="general h3">integrantes</span></h3>
      <div class="general flex-star">
        <div class="general grup-1 m">
          <span class="name">Luis Sebastian Sorribes</span>
          <span class="padding"> - </span>
          <span class="name">Matias Quinteros</span>
        </div>
        <div class="general grup-1">
          <span class="name">Fabricio Porcelli</span>
          <span class="padding"> - </span>

          <span class="name">Leandro Ariel Reynoso</span>
        </div>

        <div class="general grup-1">
          <span class="name">Leandro Arriola</span>
          <span  class="padding"> - </span>

          <span class="name">Lautaro Favini</span>
        </div>
        <div class="general grup-1">
          <span class="name">Agustin Galeazzi</span>
          <span class="padding"> - </span>

          <span class="name">Franco Spoto</span>
        </div>
      </div>
    </div>
  </div>
  <div class="general grupo-1">
    <div class="general derechos">
      <small
        >&copy; 2021 <b>News Instantly</b> - Todos los Derechos
        Reservador.</small
      >
    </div>
  </div>
</footer>
