<div class="menu-left-container">
	<!--CLIMA-->
	<div class="climate-container">
		<div id="loader" class="loader">Loading...</div>
		<div id="container" class="climate">
			<div class="block climate-image">
				<div id="location"></div>
				<div id="date"></div>
				<div id="description"></div>
				 <div class="climate-icon-container">
				 	<img id="wicon" src="" class="climate-icon">
				 	<p id="icon"></p>
				 </div>
			</div>
			<div class="block climate-info">
				<div class="information-container">
					Temperatura
					<div class="information" id="temperature"></div>
				</div>
				<div class="information-container">
					Humedad
					<div class="information" id="humidity"></div>
				</div>
				<div class="information-container">
					Presión
					<div class="information" id="pressure"></div>
				</div>
			</div>
		</div>
	</div>
	<!--GIFS-->
	<div class="menu-left-content">
		<img class="prueba-gif"src="https://media0.giphy.com/media/dNtDiv1Dgf9YscDhoa/giphy.gif?cid=790b7611144aec2a0b625fc047127aacaa20225b1dd6d2e3&rid=giphy.gif&ct=g"></img>
		<div class="menu-left-slider">
			<ul>
				<li><img src="/images/Grupo-2.jpeg"></li>
                <li><img src="/images/Grupo3-Huella.png"></li>
                <li><img src="/images/Grupo-5.jpeg"></li>
                <li><img src="/images/Grupo-8-ClubIT.jpeg"></li>
                <li><img src="/images/Grupo-10-gea.jpeg"></li>
                <li><img src="/images/Grupo-12.jpeg"></li>
                <li><img src="/images/Grupo-13.jpeg"></li>
                <li><img src="/images/Polo-tecnologico-logo.jpg"></li>
			</ul>
		
		</div>
	</div>
</div>