* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

.change-pass-container{
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("../images/background-changepass.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.change-pass-form-container{
	margin: 0 10px;
	font-family: sans-serif;
	background-color: #fff;
	border-radius: 25px;
	padding: 25px;
	display: flex;
	flex-direction: column;
}

.change-pass-text{
	padding: 24px 0;
	font-size: 28px;
	border-bottom: 1px solid #666;
}

.change-pass-form {
	padding: 25px 0;
	display: flex;
	flex-direction: column;
}

.change-pass-form label {
	font-size: 18px;
}



.change-pass-form input {
	font-size: 14px;
	margin: 10px 0;
	padding: 8px;
}

.change-pass-btn{
	font-size: 18px;
	border-radius: 8px;
	border:none;
	padding: 14px;
	color: #fff;
	background: rgb(209, 0, 0);
  	background: linear-gradient(
	    90deg,
	    rgba(209, 0, 0, 1) 0%,
	    rgba(236, 53, 53, 1) 50%,
	    rgba(209, 0, 0, 1) 100%
  );
}

.change-pass-btn:hover{
	background: rgb(99, 0, 0);
	background: linear-gradient(
	    90deg,
	    rgba(99, 0, 0, 1) 0%,
	    rgba(213, 0, 0, 1) 50%,
	    rgba(99, 0, 0, 1) 100%
	  );
	cursor: pointer;
	transition: 0.5s;
}