* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.errorpage-container{
	height: 100vh;
	background: rgb(203,203,203);
    background: linear-gradient(90deg, rgba(203,203,203,1) 0%, rgba(255,255,255,1) 50%, rgba(203,203,203,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorpage-content{
	position: relative;
	padding: 14px;
	height: 800px;
}

.errorpage-description {
	position: absolute;
	top: 115px;
	right: 66px;
	width: 320px;
	font-family: "Roboto", sans-serif;
}

.errorpage-description h1{
	text-align: center;
	font-size: 95px;
	font-weight: 600;
	font-family: 'Josefin Sans', sans-serif;
}


