<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- <link rel="stylesheet" href="css/errorPage.css" /> -->
	<link rel="stylesheet" href="/css/scrollbar.css">
	<link rel="stylesheet" href="/css/errorPage.css" />
	<title>Error | News instantly.</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;500;600&display=swap"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet" />
</head>

<body>
	<div class="errorpage-container">
		<div class="errorpage-content">
			<div class="errorpage-description">
				<h1 th:text="${code}"></h1>
				<p th:text="${message}"></p>
				<p
					th:text="'Puedes continuar en News Instantly o informar de este error ' + ${code} + ' al servicio de atención al cliente.'">
				</p>
			</div>
			<!-- <img src="/images/error-image.png" class="errorpage-img"> -->
			<img src="/images/error-image.png" class="errorpage-img">
		</div>
	</div>
</body>

</html>