<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/politicas.css">
    <!-- <link rel="stylesheet" href="../static/css/politicas.css"> -->
    <link rel="stylesheet" href="/css/scrollbar.css">
    <link rel="shortcut icon" href="/images/logo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Krub:wght@200;300;500&display=swap" rel="stylesheet">
    <title>Politicas de datos | News instantly.</title>
</head>

<body class="politicas-background">

    <div class="politicas-container">
        <h1>Política de privacidad</h1>
        <div>
            <h2>Qué información obtiene el Sitio Web</h2>
            <h4>El Sitio Web puede obtener la siguiente información:
                nombre completo, número de teléfono y dirección de email,
                datos necesarios para brindar un servicio adecuado.</h4>
        </div>
        <div>
            <h2>Spam</h2>
            <h4>Es política del Sitio Web no usar las direcciones de
                emails que le son suministrados para envío de emails y/o
                información publicitaria no solicitados a menos que el usuario así
                lo permita. El Sitio Web no usará la dirección de correo electrónico
                suministrada por el usuario para otros fines distintos a los relacionados
                con el servicio por el que fuera originada la comunicación.
            </h4>
        </div>
        <div>
            <h2>Qué son las "cookies" y cómo son usadas</h2>
            <h4>Las "cookies" son pequeños archivos usados para almacenar y
                rastrear información sobre el usuario que la página web envía al
                navegador del usuario y es almacenado en la computadora
                del mismo. El Sitio Web no utiliza cookies ni ningún otro
                método para identificar a los usuarios de su sitio web,
                pero puede registrar la dirección IP de los usuarios con fines estadísticos.</h4>
        </div>
        <div>
            <h2>Cómo es manejada la información</h2>
            <h4>La información brindada por el usuario sólo será manejada y
                compartida por personal autorizado del Sitio Web a menos que el
                usuario declare específicamente que desea que sea compartida por
                otros organismos.</h4>
        </div>
        <div>
            <h2>Con quién comparte el Sitio Web la información obtenida</h2>
            <h4>El Sitio Web no comparte ni revela información obtenida, excepto
                cuando haya sido autorizada por el usuario o le sea requerido por una
                autoridad competente y previo el cumplimiento del trámite legal
                correspondiente.</h4>
        </div>
        <div>
            <h2>Seguridad de las transmisiones electrónicas</h2>
            <h4>Debido a que ninguna transmisión por Internet puede garantizar su
                íntegra seguridad, el Sitio Web no puede garantizar que la información
                transmitida utilizando un servicio electrónico sea completamente segura,
                con lo cual el usuario asume este riesgo que declara conocer y aceptar.
            </h4>
        </div>
        <div>
            <h2>Política de privacidad de terceros</h2>
            <h4>La página web de "Suresnoticias" contiene enlaces con otros sitios,
                productos y servicios los que son propiedad y
                operados por terceros. Estos le son facilitados exclusivamente para su
                comodidad. El Sitio Web advierte al usuario que no administra ni
                controla estos sitios y consecuentemente no es responsable de sus
                contenidos y/o de la exactitud de la información brindada por ellos,
                ni de las negociaciones que el usuario pueda celebrar con ellos,
                por lo que el usuario debiera revisar las Políticas de Privacidad de tales
                sitios antes de proceder a compartir sus datos con tales sitios</h4>
        </div>
    </div>

</body>

</html>